Repository iatomic1/dexion: changes, and which lefthook commands are due for each by the changed paths.
All: lint-web, lint-wallet-tracker

lint-web:
  run: "bunx biome check --write --diagnostic-level=error {staged_files}\nif [ $? -eq 0 ]; then\n  echo '\U0001F389 No error found: committing this now.... ✨\U0001F680\U0001F3C4‍♂️\U0001F37B'\nelse\n  echo '\U0001F528❌ Yoo, you have a problem in your code. Check linter \U0001F528❌'\n  echo '          
  ...

lint-wallet-tracker:
  run: "bunx biome check --write --diagnostic-level=error {staged_files}\nif [ $? -eq 0 ]; then\n  echo '\U0001F389 No error found: committing this now.... ✨\U0001F680\U0001F3C4‍♂️\U0001F37B'\nelse\n  echo '\U0001F528❌ Yoo, you have a problem in your code. Check linter \U0001F528❌'\n  echo '          
  ...

⚰️ Chore(web): removed an unused onClick handler
  apps/web/src/components/layout/header/account/account-management-modal.tsx
Due: lint-web

💄 Style(web): more light mode style fixes
  apps/web/src/components/layout/header/wallet/exchange.tsx
  apps/web/src/components/layout/wallet-tracker/add-wallet.tsx
Due: lint-web

:art: (ui) update theme to be more crypto-like
  apps/partykit/.partykit/state/party/-PartyKitDurable/a8d8cdcf2a4a12168ee851b3636a55d11fbcdcc18e204502dfca26825a9ad1a7.sqlite
  apps/partykit/.partykit/state/party/-PartyKitDurable/a8d8cdcf2a4a12168ee851b3636a55d11fbcdcc18e204502dfca26825a9ad1a7.sqlite-shm
  apps/partykit/.partykit/state/party/-PartyKitDurable/a8d8cdcf2a4a12168ee851b3636a55d11fbcdcc18e204502dfca26825a9ad1a7.sqlite-wal
  apps/web/src/app/(protected)/meme/[ca]/_components/trading/token-audit.tsx
  apps/web/src/components/layout/header/wallet/exchange.tsx
  packages/ui/src/styles/globals.css
Due: lint-web

:art: (web) update theme
  apps/partykit/.partykit/state/party/-PartyKitDurable/a8d8cdcf2a4a12168ee851b3636a55d11fbcdcc18e204502dfca26825a9ad1a7.sqlite-shm
  bun.lock
  package.json
Due: none

🐛 Fix(web): updated token-audit to use resolvedTheme instead of theme
  apps/web/src/app/(protected)/meme/[ca]/_components/trading/token-audit.tsx
  bun.lock
  package.json
Due: lint-web

✨ Feat(web): display STX balance in USD instead of plain amount
  apps/web/src/components/layout/header/wallet/balance.tsx
Due: lint-web

✨ Feat(ui): add component to handle multiple spinners
  packages/ui/src/components/ui/spinner.tsx
Due: none

⚰️ Chore(web): removed unused func from site-header
  apps/web/src/components/layout/header/site-header.tsx
Due: lint-web

✨ Feat(web): add STX withdrawal modal and integrate with transfer function
  apps/web/package.json
  apps/web/src/app/(protected)/meme/[ca]/_components/token-details/desktop-layout.tsx
  apps/web/src/components/app-dialog.tsx
  apps/web/src/components/layout/header/wallet/balance.tsx
  apps/web/src/components/layout/header/wallet/deposit.tsx
  apps/web/src/components/layout/header/wallet/withdraw.tsx
  apps/web/src/hooks/useTokenTransfer.ts
  apps/web/src/lib/signer/actions.ts
  bun.lock
Due: lint-web

📝 Chore(docs): implement standalone docs app using Fumadocs
  bun.lock
Due: none

🩹 Fix(docs): remove mistaken submodule and add as folder
  apps/docs/.gitignore
  apps/docs/README.md
  apps/docs/content/docs/faqs.mdx
  apps/docs/content/docs/index.mdx
  apps/docs/content/docs/test.mdx
  apps/docs/next.config.mjs
  apps/docs/package.json
  apps/docs/postcss.config.mjs
  apps/docs/source.config.ts
  apps/docs/src/app/(home)/[[...slug]]/page.tsx
  apps/docs/src/app/(home)/layout.tsx
  apps/docs/src/app/api/search/route.ts
  apps/docs/src/app/global.css
  apps/docs/src/app/layout.config.tsx
  apps/docs/src/app/layout.tsx
  apps/docs/src/components/ui/accordion.tsx
  apps/docs/src/lib/source.ts
  apps/docs/src/lib/utils.ts
  apps/docs/src/mdx-components.tsx
  apps/docs/tsconfig.json
Due: none

✏️ Fix(docs): correct typos in FAQ content
  apps/docs/content/docs/faqs.mdx
Due: none

💚 Fix(docs): diable declaration output to resolve zod type inference error making the docs build successfully
  apps/docs/source.config.ts
  apps/docs/tsconfig.json
Due: none

♻️ Refactor(tokens): add internal transaction parsing module
  packages/tokens/package.json
  packages/tokens/src/parser/config.ts
  packages/tokens/src/parser/handlers/base-handler.ts
  packages/tokens/src/parser/handlers/stacking-dao-handler.ts
  packages/tokens/src/parser/handlers/stx-transfer-handler.ts
  packages/tokens/src/parser/handlers/swap-handler.ts
  packages/tokens/src/parser/handlers/zest-handler.ts
  packages/tokens/src/parser/index.ts
  packages/tokens/src/parser/transaction-parser.ts
  packages/tokens/src/parser/types.ts
  packages/tokens/src/parser/utils.ts
Due: none

✅ Test(waller-tracker): update tests for the new parser
  apps/wallet-tracker/parse-results-2025-07-20T00-51-26-066Z.json
  apps/wallet-tracker/test.ts
Due: lint-wallet-tracker

🧑‍💻 Chore(web): setup hiro client for blockchain queries
  apps/web/src/lib/queries/hiro.ts
  apps/web/src/lib/stacks-blockchain-api-client.ts
Due: lint-web

🏷️ Fix(tokens): correct types in parser causing build failure
  packages/tokens/src/parser/handlers/stacking-dao-handler.ts
  packages/tokens/src/parser/handlers/swap-handler.ts
  packages/tokens/src/parser/handlers/zest-handler.ts
  packages/tokens/src/parser/transaction-parser.ts
  packages/tokens/src/parser/types.ts
  packages/tokens/src/parser/utils.ts
Due: none

✨ Feat(web): implement latest transactions modal that shows parsed user activity
  apps/docs/src/app/(home)/layout.tsx
  apps/web/src/components/layout/header/wallet/balance.tsx
  apps/web/src/components/layout/site-footer/latest-transactions-items.tsx
  apps/web/src/components/layout/site-footer/latest-transactions.tsx
  apps/web/src/components/layout/site-footer/site-footer.tsx
  apps/web/src/hooks/useSubscribeAddressTransactions.ts
  apps/web/src/lib/utils/transaction.tsx
Due: lint-web

🐛 Fix(docs): fix layout issue in docs
  apps/docs/src/app/(home)/layout.tsx
Due: none

⚰️ Chore(web): removed dead code
  apps/web/src/lib/queries/hiro.ts
Due: lint-web

⚰️ Chore(web): removed unreachable code
  apps/web/src/lib/utils/transaction.tsx
Due: lint-web

✨ Feat(web): implement sign in with stacks plugin(siws)
  apps/web/auth-schema.ts
  apps/web/package.json
  apps/web/src/lib/auth.ts
  apps/web/src/lib/db/migrations/0001_lying_fantastic_four.sql
  apps/web/src/lib/db/migrations/meta/0001_snapshot.json
  apps/web/src/lib/db/migrations/meta/_journal.json
  apps/web/src/lib/db/schema.ts
  apps/web/src/lib/sign-in-with-wallet-plugin/client.ts
  apps/web/src/lib/sign-in-with-wallet-plugin/index.ts
Due: lint-web

🐛 Fix(web): fix sign-in-with-wallet plugin
  apps/web/src/lib/sign-in-with-wallet-plugin/client.ts
  apps/web/src/lib/sign-in-with-wallet-plugin/index.ts
Due: lint-web

✨ Feat(web): implement SIP-018 message verification for SIWS
  apps/web/src/lib/auth.ts
Due: lint-web

🩹 Chore(web): load DataBuddy script only in production environment
  apps/web/src/app/layout.tsx
Due: lint-web

🏷️ Fix(web): fix plugin type errors
  apps/web/src/lib/sign-in-with-wallet-plugin/index.ts
  apps/web/src/lib/sign-in-with-wallet-plugin/schema.ts
Due: lint-web

🧑‍💻 Chore(shared-constants): add DOMAIN_NAME to shared-constants
  packages/shared-constants/src/constants.ts
Due: none

✨ Feat(web): implement sign in with stacks
  apps/web/package.json
  apps/web/src/components/auth/continue-with-wallet.tsx
  apps/web/src/components/auth/login-modal.tsx
  apps/web/src/components/auth/signup-modal.tsx
  apps/web/src/lib/auth-client.ts
  apps/web/src/lib/auth.ts
  apps/web/src/lib/sign-in-with-wallet-plugin/index.ts
  apps/web/src/lib/sign-in-with-wallet-plugin/types.ts
  bun.lock
Due: lint-web

✨ Feat(web): implement sub-org gen and wallet creation for users that signed in with wallet
  apps/web/src/lib/auth.ts
  apps/web/src/lib/sign-in-with-wallet-plugin/index.ts
  apps/web/tsconfig.json
Due: lint-web

✨ Feat(web): implement bns lookup when signing in with wallet
  apps/web/src/lib/auth.ts
  apps/web/src/lib/queries/bns.ts
  apps/web/src/lib/sign-in-with-wallet-plugin/index.ts
  apps/web/src/lib/sign-in-with-wallet-plugin/types.ts
Due: lint-web

💩 Fix(web): fix typescript err in better-auth by typecasting it to any (Would update it later)
  apps/web/src/lib/auth.ts
Due: lint-web

🧑‍💻 Chore(shared-constants): add BNS_ONE_API_BASE_URL to shared-constants
  packages/shared-constants/src/constants.ts
Due: none

🔇 Chore(web): remove debug logs
  apps/web/src/lib/auth.ts
  apps/web/src/lib/sign-in-with-wallet-plugin/index.ts
Due: lint-web

💬 Chore(web): replace hardcoded domain with constants
  apps/web/src/components/auth/continue-with-wallet.tsx
Due: lint-web

💬 Chore(web): update button text to 'Continue with Wallet'
  apps/web/src/components/auth/continue-with-wallet.tsx
Due: lint-web

🦺 Chore(web): use standard STX address validator for improved accuracy
  apps/web/src/lib/sign-in-with-wallet-plugin/index.ts
Due: lint-web

💄 Style(web): update watchlist-banner py when its empty
  apps/web/src/components/layout/watchlist-banner.tsx
Due: lint-web

💄 Style(web): reduce site-header gap on lg
  apps/web/src/components/layout/header/site-header.tsx
Due: lint-web

🧱 Chore(infra): add and configure railway.json
  railway.json
Due: none

✨ Feat(token-watcher): migrate to ioredis and prepare for deployment
  bun.lock
  packages/token-watcher/.railway/project.json
  packages/token-watcher/package.json
  packages/token-watcher/src/api/routes/tokens.ts
  packages/token-watcher/src/core/PriceAlertChecker.ts
  packages/token-watcher/src/core/TransactionHandler.ts
  packages/token-watcher/src/index.ts
  packages/token-watcher/src/jobs/update-sources.ts
  packages/token-watcher/src/redis.ts
  packages/token-watcher/src/server.ts
  packages/token-watcher/src/services/redis.ts
Due: none

Path conditions:
  lint-web: any of: apps/web/src/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  lint-wallet-tracker: any of: apps/wallet-tracker/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
