Repository iatomic1/dexion: changes, and which lefthook commands are due for each by the changed paths.
All: lint-web, lint-wallet-tracker

lint-web:
  run: "bunx biome check --write --diagnostic-level=error {staged_files}\nif [ $? -eq 0 ]; then\n  echo '\U0001F389 No error found: committing this now.... ✨\U0001F680\U0001F3C4‍♂️\U0001F37B'\nelse\n  echo '\U0001F528❌ Yoo, you have a problem in your code. Check linter \U0001F528❌'\n  echo '          
  ...

lint-wallet-tracker:
  run: "bunx biome check --write --diagnostic-level=error {staged_files}\nif [ $? -eq 0 ]; then\n  echo '\U0001F389 No error found: committing this now.... ✨\U0001F680\U0001F3C4‍♂️\U0001F37B'\nelse\n  echo '\U0001F528❌ Yoo, you have a problem in your code. Check linter \U0001F528❌'\n  echo '          
  ...

✏️ Chore(hub): fix typo
  packages/token-watcher/src/api/routes/wallets.ts
Due: none

⚰️ Chore(web): remove dead code
  apps/web/src/app/(protected)/meme/[ca]/_components/trading/trading-interface-desktop.tsx
Due: lint-web

🔇 Chore(web): remove dev logs
  apps/web/src/app/(protected)/meme/[ca]/_components/tables/postions-table.tsx
  apps/web/src/app/(protected)/meme/[ca]/_components/token-details/token-details.tsx
  apps/web/src/app/(protected)/meme/[ca]/_components/token-tabs.tsx
Due: lint-web

✨ Feat(global): renebaled wallet-tracker and implement parytykit notification channel
  apps/backend/.gitignore
  apps/backend/Makefile
  apps/partykit/partykit.json
  apps/partykit/src/notifications.ts
  apps/wallet-tracker/src/common/constants.ts
  apps/wallet-tracker/src/core/notification.ts
  apps/wallet-tracker/src/core/transaction.ts
  apps/wallet-tracker/src/services/mempool.ts
  apps/wallet-tracker/src/services/redis.ts
  apps/wallet-tracker/src/services/redisClient.ts
  apps/web/src/app/(protected)/meme/[ca]/_components/token-tabs.tsx
  apps/web/src/app/(protected)/meme/[ca]/_components/trading/trading-interface-desktop.tsx
  apps/web/src/app/(protected)/meme/[ca]/page.tsx
  apps/web/src/contexts/TokenWatcherSocketContext.tsx
  apps/web/src/contexts/WalletTrackerSocketContext.tsx
  apps/web/src/lib/signer/bitflow.ts
  packages/notifier/src/channels/partykit.ts
  packages/notifier/src/interfaces.ts
  packages/shared-constants/src/constants.ts
  packages/tokens/src/parser/handlers/stx-transfer-handler.ts
  packages/tokens/src/parser/transaction-parser.ts
  packages/ui/src/components/ui/sonner.tsx
Due: lint-web, lint-wallet-tracker

💡 Chore(parser): remove dead comments
  apps/web/src/lib/auth/plugins/siws/index.ts
  packages/tokens/src/parser/handlers/stx-transfer-handler.ts
Due: lint-web

🧑‍💻 Chore(web): extract amount
  packages/tokens/src/parser/handlers/stx-transfer-handler.ts
Due: none

🔇 Chore(notifier): remove unnecessary logs
  apps/web/src/lib/signer/bitflow.ts
  packages/notifier/src/channels/partykit.ts
Due: lint-web

✨ Feat(web): revamp dexion landing page
  apps/dex-bot/src/handlers/commands/GeneralCommands.ts
  apps/dex-bot/src/lib/auth-client.ts
  apps/web/public/assets/dashboard-preview.png
  apps/web/public/logo.png
  apps/web/src/app/page.tsx
  apps/web/src/components/landing/cta-section.tsx
  apps/web/src/components/landing/features.tsx
  apps/web/src/components/landing/footer.tsx
  apps/web/src/components/landing/hero.tsx
  apps/web/src/components/landing/how-it-works.tsx
  apps/web/src/components/landing/preview.tsx
  apps/web/src/components/landing/testimonials.tsx
  apps/web/src/components/landing/why-desxion.tsx
  apps/web/src/lib/auth/plugins/siws/index.ts
  apps/web/src/lib/utils/transaction.tsx
  packages/tokens/src/parser/transaction-parser.ts
  packages/ui/src/components/ui/button.tsx
Due: lint-web

✨ Feat(web): add social links
  apps/web/src/app/page.tsx
  apps/web/src/components/landing/footer.tsx
  apps/web/src/config/site.ts
Due: lint-web

⚰️ Chore(web): remove dead import
  apps/web/src/components/landing/preview.tsx
Due: lint-web

🚚 Chore(web): fixed filename typo
  apps/web/src/app/page.tsx
  apps/web/src/components/landing/why-dexion.tsx
Due: lint-web

✅ Test(notifer): add unit tests for Notifer, TelegramSender and PartykitSender
  packages/notifier/package.json
  packages/notifier/src/channels/telegram.ts
  packages/notifier/src/index.test.ts
  packages/notifier/src/index.ts
  packages/notifier/src/interfaces.ts
  packages/notifier/tests/unit/notifier.test.ts
  packages/notifier/tests/unit/partykit.test.ts
  packages/notifier/tests/unit/telegram.test.ts
  packages/notifier/tsconfig.json
  packages/notifier/vitest.config.ts
Due: none

✅ Test(signer): add unit tests for signer package
  packages/signer/package.json
  packages/signer/src/config/index.ts
  packages/signer/src/core/SignerFactory.ts
  packages/signer/src/core/StacksSigner.ts
  packages/signer/src/providers/TurnkeyProvider.ts
  packages/signer/src/types/stacks.ts
  packages/signer/src/utils/crypto.ts
  packages/signer/src/utils/formatting.ts
  packages/signer/src/utils/index.ts
  packages/signer/tests/unit/core/SignerFactory.test.ts
  packages/signer/tests/unit/utils/Validation.test.ts
  packages/signer/vitest.config.ts
Due: none

➕ Dep(dexion): install vitest
  bun.lock
Due: none

🚚 Chore(jest-presets): remove jest-presets package
  packages/jest-presets/browser/jest-preset.mjs
  packages/jest-presets/node/jest-preset.mjs
  packages/jest-presets/package.json
Due: none

✅ Test(api-sdk): add unit tests for SDK, wallet and watchlist managers, and fetch util
  bun.lock
  packages/api-sdk/package.json
  packages/api-sdk/tests/setup.ts
  packages/api-sdk/tests/unit/WalletManager.test.ts
  packages/api-sdk/tests/unit/WatchlistManager.test.ts
  packages/api-sdk/tests/unit/sdk.test.ts
  packages/api-sdk/vitest.config.ts
Due: none

🚧 Chore(dex-monitor): begin development of dex-monitor
  apps/dex-monitor/examples/0GzGb7dv.json
  apps/dex-monitor/examples/1haUQmzB.json
  apps/dex-monitor/examples/5l7XlJv7.json
  apps/dex-monitor/examples/74Vd_X1U.json
  apps/dex-monitor/examples/9fv9_Enr.json
  apps/dex-monitor/examples/AMGfIxOF.json
  apps/dex-monitor/examples/BM1Dme1W.json
  apps/dex-monitor/examples/CpBKdA7f.json
  apps/dex-monitor/examples/Do9mZ4Q2.json
  apps/dex-monitor/examples/E1ztMTty.json
  apps/dex-monitor/examples/E6OouXRf.json
  apps/dex-monitor/examples/H-D2Oiyi.json
  apps/dex-monitor/examples/PUiGU1SY.json
  apps/dex-monitor/examples/RiyuW8dA.json
  apps/dex-monitor/examples/Vbyx_IZ2.json
  apps/dex-monitor/examples/WID_Tna_.json
  apps/dex-monitor/examples/XN9g7gfZ.json
  apps/dex-monitor/examples/YUI3TEKU.json
  apps/dex-monitor/examples/Zro1dZ70.json
  apps/dex-monitor/examples/_jbTluNy.json
  apps/dex-monitor/examples/gZQXqTLI.json
  apps/dex-monitor/examples/lP_-wK6g.json
  apps/dex-monitor/examples/m_CUpAoU.json
  apps/dex-monitor/examples/nF-aTQtb.json
  apps/dex-monitor/examples/oEWDdtBQ.json
  apps/dex-monitor/examples/pTr6KVR1.json
  apps/dex-monitor/examples/rxrU2wAQ.json
  apps/dex-monitor/package.json
  apps/dex-monitor/src/index.ts
  apps/dex-monitor/src/utils.ts
  apps/dex-monitor/tsconfig.json
  bun.lock
Due: none

💩 Temp(lefthook): temp remove lefthook
  lefthook.yml
Due: none

⬆️ Chore(): update dependencies across repo
  apps/dex-monitor/src/chainhooks.ts
  apps/dex-monitor/src/index.ts
  apps/partykit/package.json
  apps/web/package.json
  bun.lock
  doppler.yaml
  packages/signer/package.json
  packages/tokens/package.json
  packages/ui/package.json
Due: none

🔐 Chore(): add doppler.yaml file
  doppler.yaml
Due: none

🩹 Fix(web): change form to field
  apps/web/src/app/(protected)/meme/[ca]/_components/filter-by-address-modal.tsx
  apps/web/src/app/(protected)/meme/[ca]/_components/token-tabs.tsx
Due: lint-web

🩹 Fix(web): change form to field
  apps/web/src/components/auth/login-modal.tsx
  apps/web/src/components/auth/signup-modal.tsx
  apps/web/src/components/layout/header/wallet/withdraw.tsx
  apps/web/src/components/layout/wallet-tracker/add-wallet.tsx
Due: lint-web

💄 Feat(web): add field component
  packages/signer/package.json
  packages/ui/package.json
  packages/ui/src/components/ui/field.tsx
Due: none

🗑️ Chore(web): remove token-socket
  apps/web/src/lib/token-socket.ts
Due: lint-web

🔨 Chore(web): update scripts
  apps/web/package.json
Due: none

🚨 Chore(): add organizeImports to biome.json
  biome.json
Due: none

⬆️ Chore(): update bun.lockb
  bun.lock
Due: none

🔨 Chore(web): update build script
  apps/web/package.json
Due: none

🔨 Chore(): update lefthook to use local build script
  lefthook.yml
Due: none

⬆️ Chore(ui): move typescript config to devDep
  packages/ui/package.json
Due: none

⚰️ Chore(web): remove legacy FormControl from add-wallet
  apps/web/src/components/layout/wallet-tracker/add-wallet.tsx
Due: lint-web

🔧 Chore(backend): update Makefile
  apps/backend/Makefile
Due: none

🗃️ Feat(backend): add alerts table with sqlc queries
  apps/backend/internal/db/migrations/20251017023956_alerts.sql
  apps/backend/internal/db/migrations/20251017045224_rename_asset_contract_to_ca_in_alerts.sql
  apps/backend/internal/db/query/alerts.sql
  apps/backend/internal/db/repository/agg.sql.go
  apps/backend/internal/db/repository/alerts.sql.go
  apps/backend/internal/db/repository/db.go
  apps/backend/internal/db/repository/models.go
  apps/backend/internal/db/repository/querier.go
  apps/backend/internal/db/repository/telegram.sql.go
  apps/backend/internal/db/repository/users.sql.go
  apps/backend/internal/db/repository/wallets.sql.go
  apps/backend/internal/db/repository/watchlist.sql.go
Due: none

📝 Docs(backend): update openapi documentation
  apps/backend/api/http/router/docs.go
  apps/backend/internal/docs/docs.go
  apps/backend/internal/docs/openapi.json
  apps/backend/internal/docs/swagger.json
  apps/backend/internal/docs/swagger.yaml
Due: none

✨ Feat(backend): add handler and setup routes for alerts
  apps/backend/api/http/handlers/alert/alert.go
  apps/backend/api/http/handlers/watchlist/watchlist.go
  apps/backend/api/http/router/alerts.go
  apps/backend/api/http/router/routes.go
Due: none

🩹 Fix(backend): clarify host selection for dev and prod environments
  apps/backend/api/http/server.go
Due: none

🗃️ Feat(backend): update sqlc.yaml file
  apps/backend/sqlc.yaml
Due: none

Path conditions:
  lint-web: any of: apps/web/src/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  lint-wallet-tracker: any of: apps/wallet-tracker/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
